html{
    overflow-x: hidden;
    width:100%;
    max-width: auto;
    text-rendering:optimizeLegibility;
    scroll-behavior: smooth;
}
header{
    /* background-image: linear-gradient(100deg, #0c0436, #2e02a7); */
    background-color:rgba(0, 0, 0, 0.50);
    /*KEEP BG COLOR IN HEADER*/
    /* text-align: center; */
    margin:0 auto;
    position:relative;  
    height: 100%;
    color:white;
    font-size: 24px;
    padding: 70px;
    width: 100%; 
    min-width: 50%;
    font-family: 'Roboto';
    z-index: 0;
    overflow-x: hidden; 
    clear:none;
    /* box-shadow: 0 2rem 4rem #000;  */ 
}
.header-bg{
    background-image: url(images/nyc3.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* header.section { height: 100vh; } */
/* .arrow-down {
    width: 50px; 
    height: 50px;
    margin: 0 auto;
    transform: skew(20deg, -6deg);
    border-left: 10px solid red;
    border-right: 10px solid red;
    z-index: 3;
    background:transparent;
  } */
.left-line{
    width: 1px;
    height: 30px;
    padding: 0px;
    border-left: 10px solid rgb(255, 255, 255);
    z-index: 3;
    margin: 0 auto;
    transform: skew(30deg, -6deg);
    display: inline-block;
    
}
.right-line{
    width: 1px;
    height: 30px;
    padding: 0px;
    border-left: 10px solid rgb(255, 255, 255);
    z-index: 3;
    margin: 0 auto;
    transform: skew(-30deg, 6deg);
    display: inline-block;
    
}

.blocktext{
    float:right;
    height: 100%;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 10px;
    padding: 10px;
    /* font-size: 4vw; */
    font-family: 'Roboto';
    text-align: right;
    
    /* overflow: hidden;
    text-overflow:ellipsis; */
    
}
@media screen and (min-width: 601px){
    div.blocktext{
        font-size: 40px;
    }
}
@media screen and (max-width: 600px){
    div.blocktext{
        font-size: 30px;
    }
}
/* .container{
    position: absolute;
    float: left;
    left: -40px;
    background-color: black;
    height: 200px;
    width: 50px; 
    transition: all 0.2s ease;
}
.sidebar{
    visibility: hidden;
    opacity: 0;
}
.container:hover{
    visibility: visible;
    opacity: 1;
    left: 10px;
    
} */
/* .nav-up {
    top: -40px;
  } */
.navbar-text{
    color:white;
    float: left;
}
.navbar{
    height: 40px;
    position: fixed;
    top:0;
    transition: top 0.3s;
    z-index: 2;
}

 .navbar-hide {
    pointer-events: none;
    opacity: 0;
} 
body { 
    text-align:center;
    z-index:1;
    text-decoration: none;
    background-color:rgb(255, 255, 255);
    margin:0 auto;  
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: 'Roboto'; 
    overflow-x: hidden; 
    text-rendering:optimizeLegibility;
    
}
/* .middle{
    background-image: url(images/code.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    padding-bottom: 400px;
    padding-top:300px;
    margin: 400px;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: hidden;
    clear:none;
    text-align: center;
} */
/* .img{
    padding:100px;
} */

@media screen and (min-width: 601px){
    div.about{
        height:100%;
    }
}
@media screen and (max-width: 600px){
    div.about{
        height:900px;
    }
}
/* logos.section { height: 100vh; } */
.middle{
    background-color:rgba(0, 0, 0, 0.60);
    z-index: 1;
    height:100%;
}
.middle-bg{
    background-image: url(images/code.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding:0;
    margin: 0;
    width: 100%;
    height:800px;
    clear:none;
    float: left;
    position: relative;
    z-index:0;
}
.middle-text{
    font-size:3vw;
    color: white;
    float: left;
    text-align: left;  
    margin: 20px;
}
.about{ 
    color:white;
    font-size: 3vw;
    float:right;
    margin: 30px;
    padding:50px;
    height: 100%;
    text-align: left;
    width:50%;
    visibility: hidden;
}

.fadeIn {
    -webkit-animation: animat_show 0.8s;
    animation: animat_show 0.8s;
    visibility: visible !important;
}
.fadeOut{
    -webkit-animation: animat_hide 0.8s;
    animation: animat_hide 0.8s;
    visibility: hidden !important;
}

@-webkit-keyframes animat_show{
    0%{opacity:0}
    100%{opacity:1}
}
@-webkit-keyframes animat_hide{
    0%{opacity:1}
    100%{opacity:0}
}
.work{
    background-color:black;
    /* box-shadow: 0 2rem 4rem #000; */
    /* transform: skewY(11deg); */
    position: relative;
    text-align: center;
    /* float: left; */
    padding-top:50px;
    height:100%;
    margin: 0 auto;
    color: white;
    font-size: 20px;
    font-family: 'Roboto';
    width: 100%;
    height:100%;
    z-index: 2;
    overflow-x: hidden; 
}
.work-img{
    max-width:30%;
    min-width: 300px;
    height:200px;
    /* border-radius:10px; */
    opacity: 0.8;
    margin:10px; 
    display: inline-block;
    position:sticky;
   
    border-radius:10px;
    
    
}
.work-text{
   
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    z-index: 2; 
    text-decoration:none;
      
}
.work-title{
    font-family: Roboto;
    font-size: 5vw;
    float: left;
    text-align: left;
    margin: 5px;
    padding:5px;
    visibility: hidden; 
}

.footer{
    /* background: url(images/code.jpg) no-repeat center center fixed; */
    background-color:black;
    color:white;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    text-align: center;
    position: sticky;
    bottom: 0;
    padding-top:200px;
    padding-bottom:5px; 
    margin-right: 20px;
    margin: 0 auto;
    height:100%; 
    font-family: 'sans-serif';
    
    width: 100%;
    height:300px;
    z-index: -1;   
    overflow-x: hidden; 
}
/* .footer-logos{
    margin:10px;  
    position: sticky;
} */
.footer-text{
    margin:50px; 
    padding:5px;
    
    font-size: 16px;
}

a{
    text-decoration: none;
    color:white;
    z-index: 1;
}
h1 {
    float:left; 
    font-family:Roboto;
    color:white;
    visibility: hidden;
    font-family: Roboto;
    font-size: 20px;
    margin: 10px;
    text-align-last: left;
}
h3{
    color: white;
    overflow: hidden; 
}
p{
    text-align: center;
    color:white;
} 
.hidden{
    background-color:  rgb(34, 34, 34);
    text-align: center;
    background-size: cover;
    width: 100%;
}
div.hidden{
    display: none;
    background-size: cover;
}

