header{
    background-color:rgb(81, 141, 231); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    min-width: 1000px; /*fill edge*/
    min-height: 200px;
    margin:0 auto;
    position:relative;
    padding-top:100px;
    padding-bottom:100px;
}

body {
    text-align:center;
    z-index:-1;
    text-decoration: none;
    color:black;
    background-color:white;
    margin:0 auto;
    padding:0;
}
/*rgb(65, 124, 212)
/*rgb(19, 16, 61)*/ 
.middle{
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:black;
    position: relative;
    text-align:center;
    
    min-width: 1000px; /*fill edge*/
    min-height:100px; 
    margin: 0 auto;

    
}
.about{
    
    background-color:rgb(241, 237, 237);
    border-radius: 10px;
    min-width:900px;
    min-height:300px;
    color:black;
    font-size:30px;
    text-align:left;
    position: relative;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top:10px;
    margin: 2em;
    
  }

.work{
    background-color:#057067;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    text-align: center;
    padding-top:100px;
    min-width: 1000px;
    min-height:500px;
    margin: 0 auto;
    
    color: white;
    font-size: 20px;
    font-family: monospace;
    
}
.footer{
    background-color: #057067;
    color:white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    position: relative;
    padding-top:10px;
    min-width: 1000px; /*fill edge*/
    margin: 0 auto;
    min-height:50px; 
    z-index: 2;
    font-size:12px;
    padding-bottom:10px;
    
}

.work-text{
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    text-align: center;
    z-index: 1;    
}
.logos{
    padding-bottom: 30px;
}
a{
    text-decoration: none;
    color:white;
    z-index: 1;
}

h1 {
    font-size: 60px;
    color: white;
}
h3{
    color: white;
    overflow: hidden;
}
p{
    text-align: center;
    color:white;
} 

button {
    background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    text-align: center;
}
button:hover 
{opacity: 1}

.hidden{
    background-color:  rgb(34, 34, 34);
    text-align: center;
    background-size: cover;
}
div.hidden{
    display: none;
    background-size: cover;
}
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);  
     
}
/* .line-2{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid black;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);     */

.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
            blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
    from{width: 0;}
    to{width: 11em;}
}
@keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}
.line-2{
    opacity: 0;
    transition:500ms;
}
.line-2.animate{
    opacity: 1;
}